<%- include('../admin/partials/header.ejs')%>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
    <%- include('../admin/partials/navegation.ejs')%>
    <%- include('../admin/partials/search.ejs')%>

<body class="bg-gray-100">
  <div class="container mx-auto py-8">
    <form action="/charges/add" method="post" class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Nombres">Nombre del cargo:</label>
          <input reuired class="w-full px-3 py-2 border focus:outline-purple-300 border-gray-300 rounded-md"
            type="text" id="Nombres" name="name" placeholder="ejemplo: Empleado de seguridad" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="Nombres">Descripción del cargo del cargo:</label>
            <textarea id="area" name="description" class="w-full rounded-md focus:outline-purple-300  px-3 resize-none focus:border-green-400 py-2 border border-gray-300" required id="description" cols="30" rows="10" placeholder="Ejemplo: encargado de la seguridad."></textarea>
        </div>
      <input
        class="w-full bg-green-600 hover:bg-green-800 text-white text-sm font-bold py-2 px-4 rounded-md transition duration-300"
        type="submit" value="Registrar cargo">
      </input>
    </form>
  </div>
</body>
</div>

<%- include('../admin/partials/footer.ejs')%>
<%if(typeof alert != 'undefined'){%>
        <script>
            Swal.fire({
                title:"<%=alertTitle%>",
                text:"<%=alertMessage%>",
                icon:"<%=alertIcon%>",
                showConfirmButtom:"<%=showConfirmButtom%>",
                timer:"<%=timer%>"
            }).then(()=>{
                window.location ="/<%=ruta%>"
            });

        </script>
<%}%>    
<style>
    #area:focus{
        outline:none
    }
</style>