<%- include('../admin/partials/header.ejs')%>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
    <%- include('../admin/partials/navegation.ejs')%>
    <%- include('../admin/partials/search.ejs')%>
            <%if(typeof dataCharges !='undefined' ) {%>
                <div class="container p-5">
                    <table class="table">
                        <thead class="table-light">
                            <td>#</td>
                            <td>Nombre del cargo</td>
                            <td>Responsabilidad</td>
                            <td>Acciones</td>
                        </thead>
                        <%dataCharges.forEach((Elemento=> {%>
                            <tbody>
                                <td>
                                    <%=Elemento.id%>
                                </td>
                                <td>
                                    <%=Elemento.name%>
                                </td>
                                <td>
                                    <%=Elemento.responsability%>
                                </td>
                                <td><a href="http://localhost:3000/charges/delete/<%=Elemento.id%>"
                                        class="btn btn-danger">Borrar</a>
                                    <button type="submit" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Actualizar
                                    </button>
                                </td>
                            </tbody>
                            <!---mi modal formulario-->
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar cargo</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="/charges/update" method="post">
                                                        <div class="form-control" style="margin-bottom: 18px;">
                                                            <input type="number" name="idThow" required class="form-control" autofocus placeholder="Ingrese ID">
                                                        </div>
                                                        <div class="form-control">
                                                            <input type="text" class="form-control" name="nameThow" id="name"
                                                                required autofocus placeholder="cargo"
                                                                value="">
                                                            </div>
                                                        <div class="form-control" style="margin-top: 18px;">
                                                            <textarea name="descriptionThow" class="form-control" id="" rows="6"
                                                                required placeholder="responsabilidad"></textarea>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-success" value="Guardar">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}));%>
                    </table>
                </div>
            </div>
        <%}%>
<%- include('../admin/partials/footer.ejs')%>
<%if(typeof alert != 'undefined') {%>
    <script>
        let timerInterval
        Swal.fire({
            title: "<%=alertTitle%>",
            html: "<%=alertHtml%> <b></b> millisegundos.",
            timer: 2500,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                }, 100)
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
            }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
                window.location = "<%=ruta%>"
            }
        })
    </script>
<%}%>    


