<%- include('../admin/partials/header.ejs')%>
<div class="flex h-full	 bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
    <%- include('../admin/partials/navegation.ejs')%>
    <%- include('../admin/partials/search.ejs')%>

    <%if(typeof data === 'string'){%>
        <div class="bg-red-600 w-full text-white text-center border-red-800 p-3"><%=data%></div>

    <%}else if(typeof data === 'object'){%>
        <div class="bg-blue-600 w-full text-white font-semibold hover:font-bold text-center border-blue-800 uppercase p-3">Asignaciones a circuitos. Pendites!</div>
        <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
                
                <%data.forEach((Elemento=> {%>
                      <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
                            <div class="mb-8">
                                <img class="object-center object-cover rounded-full h-36 w-36" src="/images/task.png" alt="photo">
                            </div>
                            <div class="text-center">
                                <p class="text-xl text-gray-700 font-bold mb-2">Jade Bradley</p>
                                <p class="text-base text-gray-400 font-normal">Dev Ops</p>
                            </div>
                        </div>
                <%}));%>        
            </div>
        </section>
    <%}%>        
<%- include('../admin/partials/footer.ejs')%>