<%-include('./partials/header.ejs')%>
      <!-- Desktop sidebar -->
      <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
        <%-include('./partials/navegation.ejs')%>
        <%-include('./partials/search.ejs')%>
        <main class="h-full overflow-y-auto mt-16">
          <div class="container px-6 mx-auto grid">
            <!-- Cards -->
            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Total de usuarios 
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%=numberUser%>
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500"
                >
                <svg class="h-5 w-20" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <path style="fill:#ECEFF1;" d="M496,432.011H272c-8.832,0-16-7.168-16-16s0-311.168,0-320s7.168-16,16-16h224
               c8.832,0,16,7.168,16,16v320C512,424.843,504.832,432.011,496,432.011z"/>
            <g>
               <path style="fill:#388E3C;" d="M336,176.011h-64c-8.832,0-16-7.168-16-16s7.168-16,16-16h64c8.832,0,16,7.168,16,16
                  S344.832,176.011,336,176.011z"/>
               <path style="fill:#388E3C;" d="M336,240.011h-64c-8.832,0-16-7.168-16-16s7.168-16,16-16h64c8.832,0,16,7.168,16,16
                  S344.832,240.011,336,240.011z"/>
               <path style="fill:#388E3C;" d="M336,304.011h-64c-8.832,0-16-7.168-16-16s7.168-16,16-16h64c8.832,0,16,7.168,16,16
                  S344.832,304.011,336,304.011z"/>
               <path style="fill:#388E3C;" d="M336,368.011h-64c-8.832,0-16-7.168-16-16s7.168-16,16-16h64c8.832,0,16,7.168,16,16
                  S344.832,368.011,336,368.011z"/>
               <path style="fill:#388E3C;" d="M432,176.011h-32c-8.832,0-16-7.168-16-16s7.168-16,16-16h32c8.832,0,16,7.168,16,16
                  S440.832,176.011,432,176.011z"/>
               <path style="fill:#388E3C;" d="M432,240.011h-32c-8.832,0-16-7.168-16-16s7.168-16,16-16h32c8.832,0,16,7.168,16,16
                  S440.832,240.011,432,240.011z"/>
               <path style="fill:#388E3C;" d="M432,304.011h-32c-8.832,0-16-7.168-16-16s7.168-16,16-16h32c8.832,0,16,7.168,16,16
                  S440.832,304.011,432,304.011z"/>
               <path style="fill:#388E3C;" d="M432,368.011h-32c-8.832,0-16-7.168-16-16s7.168-16,16-16h32c8.832,0,16,7.168,16,16
                  S440.832,368.011,432,368.011z"/>
            </g>
            <path style="fill:#2E7D32;" d="M282.208,19.691c-3.648-3.04-8.544-4.352-13.152-3.392l-256,48C5.472,65.707,0,72.299,0,80.011v352
               c0,7.68,5.472,14.304,13.056,15.712l256,48c0.96,0.192,1.952,0.288,2.944,0.288c3.712,0,7.328-1.28,10.208-3.68
               c3.68-3.04,5.792-7.584,5.792-12.32v-448C288,27.243,285.888,22.731,282.208,19.691z"/>
            <path style="fill:#FAFAFA;" d="M220.032,309.483l-50.592-57.824l51.168-65.792c5.44-6.976,4.16-17.024-2.784-22.464
               c-6.944-5.44-16.992-4.16-22.464,2.784l-47.392,60.928l-39.936-45.632c-5.856-6.72-15.968-7.328-22.56-1.504
               c-6.656,5.824-7.328,15.936-1.504,22.56l44,50.304L83.36,310.187c-5.44,6.976-4.16,17.024,2.784,22.464
               c2.944,2.272,6.432,3.36,9.856,3.36c4.768,0,9.472-2.112,12.64-6.176l40.8-52.48l46.528,53.152
               c3.168,3.648,7.584,5.504,12.032,5.504c3.744,0,7.488-1.312,10.528-3.968C225.184,326.219,225.856,316.107,220.032,309.483z"/>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Nominas
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%=numberExcel%>
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500"
                >
                <svg class="h-5 w-10" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 342.2513 277.8455" enable-background="new 0 0 342.2513 277.8455" xml:space="preserve">
             <g>
               <path d="M64.1305,52.5405c-1.4193-1.1621-3.1184-1.7466-4.8206-1.798c-0.269-0.0283-0.5417-0.0442-0.8182-0.0442H19.8569
                 c-0.2765,0-0.5493,0.0159-0.8182,0.0442c-1.7021,0.0514-3.4012,0.6359-4.8206,1.798C11.2257,54.9902-3.486,70.5073,0.7653,135.5669
                 c0.2764,4.2314,3.7947,7.479,7.9751,7.479c0.1753,0,0.3518-0.0059,0.5295-0.0176c1.5929-0.1041,3.0424-0.6726,4.2357-1.5579
                 l5.4451,84.026c0.4419,6.8157,6.3252,11.9792,13.1367,11.5378c2.7085-0.1753,5.1479-1.2197,7.0874-2.8308
                 c1.9395,1.6111,4.3789,2.6555,7.0869,2.8308c6.812,0.4414,12.6953-4.7222,13.1367-11.5378l5.4455-84.0255
                 c1.1931,0.885,2.6423,1.4533,4.2348,1.5574c0.1777,0.0117,0.3542,0.0176,0.5295,0.0176c4.1804,0,7.6987-3.2476,7.9751-7.479
                 C81.8346,70.5073,67.1229,54.9902,64.1305,52.5405z M56.453,110.3709H22.1044V76.0223H56.453V110.3709z"/>
               <circle cx="39.1745" cy="22.5" r="22.5"/>
               <path d="M151.7635,52.5405c-1.4193-1.1622-3.1185-1.7466-4.8207-1.798c-0.269-0.0283-0.5417-0.0441-0.8182-0.0441h-38.6348
                 c-0.2765,0-0.5493,0.0159-0.8182,0.0442c-1.7021,0.0514-3.4012,0.6359-4.8206,1.798
                 c-2.9924,2.4497-17.7041,17.9668-13.4529,83.0264c0.2764,4.2314,3.7947,7.479,7.9751,7.479c0.1753,0,0.3518-0.0059,0.5295-0.0176
                 c1.5929-0.1041,3.0424-0.6726,4.2357-1.5579l5.4451,84.026c0.4419,6.8157,6.3252,11.9792,13.1367,11.5378
                 c2.7085-0.1753,5.1479-1.2197,7.0874-2.8308c1.9395,1.6111,4.3789,2.6555,7.0869,2.8308
                 c6.812,0.4414,12.6953-4.7222,13.1367-11.5378l5.4455-84.0255c1.1931,0.885,2.6423,1.4534,4.2349,1.5574
                 c0.1777,0.0117,0.3542,0.0176,0.5295,0.0176c4.1804,0,7.6987-3.2476,7.9751-7.479
                 C169.4677,70.5073,154.756,54.9902,151.7635,52.5405z M146.0677,110.3709H111.719V76.0223h34.3486V110.3709z"/>
               <circle cx="126.8075" cy="22.5" r="22.5"/>
               <path d="M253.251,123.3309l0.2061-0.2395c0.1592-5.0784,0.1927-9.8062,0.1178-14.2l-18.6227-14.2177
                 c-0.4825-0.3683-0.92-0.7783-1.3289-1.2109l2.4013,10.5464l-8.6768,1.9756L253.251,123.3309z"/>
               <path d="M213.2686,123.034c-4.2838-2.8686-5.8923-8.2419-4.2106-12.8849l-6.5248,1.4857l-7.6256-33.4915l33.4915-7.6256
                 l2.7514,12.084c0.3792-1.1908,0.9525-2.3237,1.7334-3.3464c2.0986-2.748,5.2871-4.3247,8.749-4.3247
                 c2.4297,0,4.7354,0.7803,6.6689,2.2568l2.5442,1.9424c-3.6019-18.8989-9.6481-25.1146-11.4494-26.5892
                 c-1.4193-1.1621-3.1184-1.7466-4.8206-1.798c-0.269-0.0283-0.5417-0.0442-0.8182-0.0442H195.123
                 c-0.2765,0-0.5493,0.0159-0.8182,0.0442c-1.7021,0.0514-3.4012,0.6359-4.8206,1.798
                 c-2.9924,2.4497-17.7041,17.9668-13.4529,83.0264c0.2764,4.2314,3.7947,7.479,7.9751,7.479c0.1753,0,0.3518-0.0059,0.5295-0.0176
                 c1.5929-0.1041,3.0424-0.6726,4.2357-1.5579l5.4451,84.026c0.4419,6.8157,6.3252,11.9792,13.1367,11.5378
                 c2.7085-0.1753,5.1479-1.2197,7.0874-2.8308c1.9395,1.6111,4.3789,2.6555,7.0869,2.8308
                 c6.812,0.4414,12.6953-4.7222,13.1367-11.5378l5.4455-84.0255c0.7704,0.5714,1.6459,1.012,2.6006,1.2782L213.2686,123.034z"/>
               <circle cx="214.4406" cy="22.5" r="22.5"/>
               <path d="M37.9172,85.8411v13.7705c0,0.8896-0.2959,0.9883-0.8887,1.0215l-3.0312,0.165v2.4375h11.5303v-2.5371l-3.7227-0.1641
                 V82.0198h-3.2285l-6.4238,3.9199l1.252,2.2402L37.9172,85.8411z"/>
               <path d="M136.0598,100.3694h-9.6856l5.7647-6.6221c1.7793-2.042,2.9316-3.9199,2.9316-6.292c0-3.459-2.5029-5.8633-6.9502-5.8633
                 c-2.6035,0-4.9746,0.5928-6.5234,1.4824v4.9082l3.1953,0.2637v-2.207c0-0.5605,0.0664-0.8242,0.5938-0.9883
                 c0.4277-0.1318,1.1523-0.2969,2.1738-0.2969c1.9434,0,3.3936,0.8896,3.3936,2.8994c0,1.7461-0.6592,2.7344-2.3721,4.7764
                 l-7.0176,8.2686v2.5371h14.4961V100.3694z"/>
               <path d="M236.7725,92.2894l26.0674,19.9012l9.0712-10.5389c0.4727-0.5495,0.992-1.0443,1.5491-1.4829l-26.9788-20.5972
                 c-3.5088-2.6792-8.5312-2.0088-11.2129,1.5044C232.5869,84.5877,233.2607,89.6082,236.7725,92.2894z"/>
               <ellipse transform="matrix(0.9751 -0.2217 0.2217 0.9751 -8.8754 65.5818)" cx="287.7504" cy="72.3336" rx="22.5" ry="22.5"/>
               <path d="M211.4915,85.0443c-0.124-0.5469-0.0791-0.793,0.3594-1.0957c0.4131-0.2637,1.2188-0.5811,2.1182-0.7861
                 c1.8955-0.4316,3.1777,0.1553,3.5801,1.9209c0.4092,1.7988-0.3828,3.3652-1.2861,4.1445l-3.1807,0.7236l0.2939,2.7725
                 l1.4121-0.3213c2.9551-0.6729,4.6758-0.3887,5.2168,1.9883c0.4678,2.0557-0.627,3.623-2.8125,4.1201
                 c-1.7988,0.4092-3.7832,0.1514-5.3711-0.2969l-0.4668,3.1465c1.3398,0.5391,4.0742,0.8291,6.8369,0.2002
                 c5.0107-1.1416,6.4541-4.7471,5.7295-7.9268c-0.5117-2.25-1.8203-3.8438-4.3477-4.1123c1.3965-1.4326,2.293-3.4277,1.7227-5.9336
                 c-0.6221-2.7305-2.9863-4.6582-7.4189-3.6484c-2.5059,0.5703-4.6221,1.6602-6.1592,2.9238l1.0674,4.6895l3.1748-0.4531
                 L211.4915,85.0443z"/>
               <path d="M319.9482,214.3553l19.0312-43.7188c1.4512-3.334,1.3213-6.9492-0.0391-10.0322l-16.6738-63.1064
                 c-0.0068-0.0249-0.0137-0.0498-0.0205-0.0742c-0.9072-3.3047-4.373-5.2188-7.7148-4.4629l-34.8828,7.8887
                 c-2.041,0.1533-4.0234,1.0854-5.4639,2.7593l-20.3936,23.6938l-29.9512-20.0562c-3.6738-2.4595-8.6416-1.4751-11.0986,2.1963
                 c-2.458,3.6714-1.4746,8.6401,2.1963,11.0986l35.8418,24c1.3604,0.9111,2.9102,1.353,4.4473,1.353
                 c2.2607,0,4.4961-0.9565,6.0674-2.7817l13.0664-15.1807l11.6162,43.9653l-28.999,32.0596
                 c-1.9951,2.2061-3.1387,5.0518-3.2246,8.0254l-1.5,52c-0.1992,6.9004,5.2344,12.6562,12.1348,12.8555
                 c0.1221,0.0029,0.2451,0.0049,0.3672,0.0049c6.7363,0,12.292-5.3613,12.4883-12.1396l1.3672-47.3926l24.6465-27.2471
                 l-8.4697,19.4561c-1.4248,3.2715-1.3828,6.9961,0.1143,10.2344l23.5,50.834c2.1123,4.5684,6.6328,7.2578,11.3545,7.2578
                 c1.7559,0,3.5391-0.3711,5.2373-1.1562c6.2666-2.8975,8.998-10.3252,6.1016-16.5918L319.9482,214.3553z"/>
             </g>
             </svg>
             
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Total de asignaciones 
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%=numberAssign%>
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
              >
                <div
                  class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500"
                >
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400"
                  >
                    Total de Evaluaciones
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700 dark:text-gray-200"
                  >
                    <%=numberDesignation%>
                  </p>
                </div>
              </div>
            </div>

            <%if(typeof data != 'undefined'){%>
              <div class="shadow overflow-hidden rounded border-b border-gray-200">
                <table class="min-w-full bg-white">
                  <thead class="bg-purple-600 text-white hover:bg-purple-800">
                    <tr>
                      <th class="text-center px-4 uppercase font-semibold text-sm">ID</th>
                      <th class="text-center px-4 font-semibold text-sm">Tipo de usuario</th>
                      <th class="text-center py-3 px-4 text-sm">Nombre</th>
                      <th class="text-center py-3 px-4 text-sm">Nombre completo</td>
                      <th class="text-center py-3 px-4 text-sm">Email</td>
                      <th class="text-center py-3 px-4 text-sm">Visualizar</td>
                    </tr>
                  </thead>
               
                  <%data.forEach((data=> {%>
                      <tbody>
                          <tr>
                              <td class="text-center px-4 border-b bg-gray-100"><p class="bg-blue-500 text-white rounded-full"><%=data.id%></p></td>
                              <td class="text-center px-4 border-b"><%=data.Tipo%></td>
                              <td class="text-center py-3 px-4 border-b"><%=data.Nombre%></td>
                              <td class="text-center py-3 px-4  border-b"><%=data.fullName%></td>
                              <td class="text-center py-3 px-4  border-b"><%=data.email%></td>
                              <td class="text-left py-3 px-4 border-b text-center">
                                <a href="/users/search/<%=data.id%>" class="btn bg-green-600  hover:bg-green-800 text-white"><i class="fi-sr-face-glasses hover:text-gray-200"></i></a>
                              </td>
                            </tr>
                      </tbody>
          
                  <%}));%>
               
                </table>
              </div>
            <%}%>
<%-include('./partials/footer.ejs')%>
