<%-include('./partials/header.ejs')%>
      <!-- Desktop sidebar -->
      <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
        <%-include('./partials/navegation.ejs')%>
        <%-include('./partials/search.ejs')%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

<div class='flex items-center justify-center min-h-screen'>
    <div class='w-full max-w-lg py-8 flex flex-row items-center justify-center mx-auto bg-white rounded-lg shadow-xl'>
        <div class="flex flex-col md:flex-row w-3/4 md:w-5/6 space-x-0 md:space-x-8">
            <div class="w-full md:w-2/5 flex flex-col items-center justify-center">
                <figure class="w-1/2 md:w-full  rounded-full overflow-hidden">
                    <img src="/images/user_empleado.png" alt="woman wearing a headwrap and an Africa-shaped earring while smiling"
                </figure>
            </div>
            <div class="w-full md:w-3/5 space-y-4 flex flex-col justify-center items-center">
                <div class="flex flex-col justify-center">
                    <h1 class="text-center md:text-left text-2xl font-bold text-gray-900 uppercase"><%=data.fullName%></h1>
                    <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>ID:</strong> <%=data.id%></p>
                    <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>Usuario:</strong> <%=data.name%></p>
                    <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>Email:</strong> <br> <%=data.email%></p>
                    <%if(data.typeUser === 1){%>
                        <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>Rol:</strong> Empleado</p>
                    <%}else if(data.typeUser === 2){%>
                        <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>Rol:</strong> Administrador</p> 
                    <%}else{%>
                        <p class="inline mt-2 text-gray-700 font-normal leading-6 w-full text-base"><strong>Rol:</strong> Director</p> 
                    <%}%>    
                </div>
               
                <a href="/profile" class=" bg-purple-600 hover:bg-purple-800 p-2 uppercase bold rounded-full w-full text-white text-hover text-center shadow-md">
                    <i class="fi-sr-hand-back-point-left"></i> Regresar
                </a>
            </div>
        </div>
    </div>
</div>